$color-blue: #007bff;

body {
  font-family: Helvetica, sans-serif;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#mainNavbar {
  max-width: 100%;
  text-align: center;
  padding: 15px;
  color: $color-blue;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
}

#contentToDoList {
  margin: 15px auto;
  #getTodo {
    margin: 0 0 15px 0;
    .title-add {
      font-size: 20px;
    }
    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }
}

.row {
  display: flex;
  .flex-6 {
    flex: 6;
  }
}

.list-group-item {
  display: flex;
  .title {
    width: 65%;
    float: left;
  }
  .btn-group {
    width: 35%;
    float: right;
    align-items: center;
  }
}

